In [2]:
from enum import Enum

In [28]:
class Type(Enum):
    FOOD_AND_DRINKS = "foods_and_drinks"
    BILLS_AND_UTILITIES = "bills_and_utilities"
    INVESTMENT = "investment"
    TRANSPORTATION = "transportation"
    SHOPPING = "shopping"
    MEDICAL = "medical"
    EDUCATION = "education" 
    TAXES = "taxes" 
    INSURANCE = "insurance"

In [ ]:
class Cashflow_Type(Enum):
    INCOME = "income" 
    EXPENSE = "expense"

In [30]:
from datetime import datetime
class Transaction:
    def __init__(self, amt, title, cashflow_t, type):
        now = datetime.now()
        self.amount = amt;
        self.title = title;
        self.date = now.date();
        self.time = now.time();
        self.cashflow_type = cashflow_t;
        self.type = type;

In [31]:
trans1 = Transaction(190, "Kuska and Grilled Chicken", Cashflow_Type.EXPENSE, Type.FOOD_AND_DRINKS)

In [35]:
print(f"""
      {trans1.title}
      {trans1.amount}
      {trans1.date}
      {trans1.time}
      {trans1.cashflow_type}
      {trans1.type}""")

      Kuska and Grilled Chicken
      190
      2025-05-17
      15:57:12.879949
      Cashflow_Type.EXPENSE
      Type.FOOD_AND_DRINKS

In [38]:
from tracker.utils import *

In [39]:
logging()

Hello World

In [ ]:
import ast
lst = []

In [51]:
with open("data.json", "r") as f:
    # file = f.read()
    file = ast.literal_eval(f.read())
    print(file)
    lst = file

[{'name': 'lucknow'}]

In [52]:
lst

[{'name': 'lucknow'}]

In [59]:
with open("qwerty.csv", "r") as f:
    file = f.read()
    print(file)

qwerty,asdfghj,zxcvbnm
poiuyt,lkjh,mnb

In [1]:
from tracker.utils import load_transactions

In [3]:
class Finance_Tracker:
    def __init__(self):
        self.transactions = load_transactions()

In [4]:
obj= Finance_Tracker()

NameError: name 'file_content' is not defined

In [22]:
with open("transaction.csv", "w") as f:
    f.write("""id,amount,title,date,time,cashflow_type,category
1,2500.00,Salary,2025-05-01,09:00:00,income,investment
2,120.75,Grocery Shopping,2025-05-02,18:30:00,expense,foods_and_drinks
3,999.99,Health Checkup,2025-05-03,10:45:00,expense,medical
4,160.00,Metro Card Recharge,2025-05-04,08:15:00,expense,transportation
5,200.00,Electricity Bill,2025-05-05,19:00:00,expense,bills_and_utilities
6,150.00,Online Course,2025-05-06,20:10:00,expense,education
7,600.00,Tax Refund,2025-05-07,14:20:00,income,taxes
8,300.00,Insurance Claim,2025-05-08,11:00:00,income,insurance
9,459.99,Clothing,2025-05-09,17:25:00,expense,shopping
10,125.50,Freelance Work,2025-05-10,22:00:00,income,investment
""")

In [19]:
transactions = []
with open("transaction.csv", "r") as f:
    content = f.readlines();
    for line in content: 
        obj = line.split(",")
        if len(obj) == 4:
            if '\n' in obj[3][-1]:
                obj[3] = obj[3][:-1]
            transactions.append({"amount": obj[0], "title": obj[1], "type": obj[2], "category": obj[3]})
for i in range(1, len(transactions)):
    print(transactions[i])

{'amount': '120.75', 'title': 'Grocery Shopping', 'type': 'expense', 'category': 'foods_and_drinks'}
{'amount': '999.99', 'title': 'Health Checkup', 'type': 'expense', 'category': 'medical'}
{'amount': '160.00', 'title': 'Metro Card Recharge', 'type': 'expense', 'category': 'transportation'}
{'amount': '200.00', 'title': 'Electricity Bill', 'type': 'expense', 'category': 'bills_and_utilities'}
{'amount': '150.00', 'title': 'Online Course', 'type': 'expense', 'category': 'education'}
{'amount': '600.00', 'title': 'Tax Refund', 'type': 'income', 'category': 'taxes'}
{'amount': '300.00', 'title': 'Insurance Claim', 'type': 'income', 'category': 'insurance'}
{'amount': '459.99', 'title': 'Clothing', 'type': 'expense', 'category': 'shopping'}
{'amount': '125.50', 'title': 'Freelance Work', 'type': 'income', 'category': 'investment'}

In [21]:
transactions[1:]

[{'amount': '120.75',
  'title': 'Grocery Shopping',
  'type': 'expense',
  'category': 'foods_and_drinks'},
 {'amount': '999.99',
  'title': 'Health Checkup',
  'type': 'expense',
  'category': 'medical'},
 {'amount': '160.00',
  'title': 'Metro Card Recharge',
  'type': 'expense',
  'category': 'transportation'},
 {'amount': '200.00',
  'title': 'Electricity Bill',
  'type': 'expense',
  'category': 'bills_and_utilities'},
 {'amount': '150.00',
  'title': 'Online Course',
  'type': 'expense',
  'category': 'education'},
 {'amount': '600.00',
  'title': 'Tax Refund',
  'type': 'income',
  'category': 'taxes'},
 {'amount': '300.00',
  'title': 'Insurance Claim',
  'type': 'income',
  'category': 'insurance'},
 {'amount': '459.99',
  'title': 'Clothing',
  'type': 'expense',
  'category': 'shopping'},
 {'amount': '125.50',
  'title': 'Freelance Work',
  'type': 'income',
  'category': 'investment'}]

In [6]:
from datetime import datetime
from enum import Enum

class Category(Enum):
    FOOD = "food"
    DRINKS = "drinks"
    BILLS = "bills"
    UTILITIES = "utilities"
    INVESTMENT = "investment"
    TRANSPORTATION = "transportation"
    SHOPPING = "shopping"
    MEDICAL = "medical"
    EDUCATION = "education" 
    TAXES = "taxes" 
    INSURANCE = "insurance"
    SALARY = "salary"
    
class Cashflow_Type(Enum):
    INCOME = "income" 
    EXPENSE = "expense"

class Transaction:
    def __init__(self, id, amt, title, cashflow_t, category):
        now = datetime.now()
        self.__id = id
        self.__amount = amt;
        self.__title = title;
        self.__date = now.date();
        self.__time = now.time();
        self.__cashflow_type = cashflow_t;
        self.__category = category;
        
    def __repr__(self):
        return f"{self.__title}: {self.__amount} | {self.__cashflow_type.value.title()} | {self.__category.value.replace("_", " ").title()} | {self.__date} {self.__time}"
    
    @property
    def id(self):
        return self.__id
    
    @property
    def title(self):
        return self.__title
    
    @title.setter
    def title(self):
        new_title = input("Enter title: ")
        if not new_title:
            raise ValueError("Title cannot be empty!")
        self.title = new_title
        print("Title updated Successfully!")
    
    @property
    def amount(self):
        return self.__amount
    
    @amount.setter
    def amount(self, amt):
        if not amt:
            raise ValueError("Amount cannot be empty!")
        self.__amount = amt  
    
    @property
    def cashflow_type(self):
        return self.__cashflow_type.value.title()
        # return self.__cashflow_type
    
    @cashflow_type.setter
    def cashflow_type(self, cft):
        if not isinstance(cft, Cashflow_Type):
            raise ValueError("Cashflow type must be an instance of cashflow type enum!")
        self.__cashflow_type = cft
    
    @property 
    def category(self):
        return self.__category.value.replace("_", " ").title()
        # return self.__category
    
    @category.setter 
    def category(self, cgt):
        if not isinstance(cgt, Category):
            raise ValueError("Category must be an instance of Category type enum!")
        self.__category = cgt
    
    @property
    def date(self):
        return self.__date
    
    @property
    def time(self):
        return self.__time

In [79]:
t1 = Transaction(1, 190, "Chicken Biryani", Cashflow_Type.EXPENSE, Category.FOOD_AND_DRINKS)

In [80]:
t1

Chicken Biryani: 190 | Expense | Foods And Drinks | 2025-05-18 12:43:43.062195

In [81]:
with open("transaction.csv", "w") as f:
    f.write(f"ID,Title,Amount,Cashflow_Type,Category,Date,Time\n")

In [82]:
with open("transaction.csv", "a") as f:
    f.write(f"{t1.id},{t1.title},{t1.amount},{t1.cashflow_type},{t1.category},{t1.date},{t1.time}\n")

In [ ]:
def load_transactions():
    transactions = []
    with open("transaction.csv", "r") as f:
        content = f.read();
        content = content.strip().split('\n')
        for line in content[1: ]: 
            obj = line.strip().split(",")
            print("Obj: ", obj)
            transactions.append({"id": obj[0], "amount": obj[2], "title": obj[1], "date": obj[5],"time":obj[6],"cashflow_type":obj[3], "category": obj[4]})
    return transactions

In [108]:
load_transactions()

Obj:  ['1', 'Chicken Biryani', '190', 'Expense', 'Foods And Drinks', '2025-05-18', '12:43:43.062195']
[{'id': '1', 'amount': '190', 'title': 'Chicken Biryani', 'date': '2025-05-18', 'time': '12:43:43.062195', 'cashflow_type': 'Expense', 'category': 'Foods And Drinks'}]

In [109]:
"Hello World".lower()

'hello world'

In [ ]:
def add_transaction():
    note = input("Enter a note about the transaction: ");
    amt = input("Enter amount spend: ")
    try: 
        c_type = input("Enter type of transaction [Income/Expense]: ");
        c_type = c_type.lower()
        if c_type in Cashflow_Type.INCOME.value:
            c_type = Cashflow_Type.INCOME.value
        elif c_type in Cashflow_Type.EXPENSE.value:
            c_type = Cashflow_Type.EXPENSE.value
        else:
            raise ValueError("Transaction type should be of either Income type or expense type")
        print(c_type)
    except Exception as e:
        print(e)
        
    try:
        cgt = input("Enter category of the transaction [investment/food/taxes/bills/utilites...]: ")
        cgt = cgt.lower()
        if cgt in Category.FOOD.value:
            cgt = Category.FOOD.value
        elif cgt in Category.DRINKS.value:
            cgt = Category.DRINKS.value
        elif cgt in Category.BILLS.value:
            cgt = Category.BILLS.value
        elif cgt in Category.UTILITIES.value:
            cgt = Category.UTILITIES.value
        elif cgt in Category.INVESTMENT.value:
            cgt = Category.INVESTMENT.value
        elif cgt in Category.TRANSPORTATION.value:
            cgt = Category.TRANSPORTATION.value
        elif cgt in Category.SHOPPING.value:
            cgt = Category.SHOPPING.value
        elif cgt in Category.MEDICAL.value:
            cgt = Category.MEDICAL.value
        elif cgt in Category.EDUCATION.value:
            cgt = Category.EDUCATION.value
        elif cgt in Category.TAXES.value:
            cgt = Category.TAXES.value
        elif cgt in Category.INSURANCE.value:
            cgt = Category.INSURANCE.value
        elif cgt in Category.SALARY.value:
            cgt = Category.SALARY.value
    except Exception as e:
        print(e)  
    print(amt, note, cgt, c_type)

In [10]:
add_transaction()

expense
190 chicken biryani Category.FOOD expense

In [1]:
from tracker.utils import get_cashflow_type, get_category

In [2]:
category = get_category().value
print(category)

Available Categories:
1. Food
2. Drinks
3. Bills
4. Utilities
5. Investment
6. Transportation
7. Shopping
8. Medical
9. Education
10. Taxes
11. Insurance
12. Salary
Invalid category name. Please try again.
food

In [7]:
from tracker.tracker import Finance_Tracker

In [8]:
tracker = Finance_Tracker()

tracker.add_transaction()

Available Categories:
1. Food
2. Drinks
3. Bills
4. Utilities
5. Investment
6. Transportation
7. Shopping
8. Medical
9. Education
10. Taxes
11. Insurance
12. Salary

In [10]:
tracker.show_transactions()

AttributeError: 'Finance_Tracker' object has no attribute 'show_transactions'

In [3]:
from tracker.enum import Category

In [33]:
def get_category():
    print("\nAvailable Categories:")
    for idx, category in enumerate(Category, start=1):
        print(f"{idx}. {category.value.title()}")  # No underscore replacement needed

    while True:
        user_input = input("Select a category by number or name: ").strip().lower()

        if user_input.isdigit():
            idx = int(user_input)
            if 1 <= idx <= len(Category):
                # print("Reaching over here: ", Category[list(Category)[idx-1]])
                return list(Category)[idx - 1]
            else:
                print("Invalid number. Please choose a valid index.")
        else:
            normalized_input = user_input.replace(" ", "")
            for category in Category:
                if normalized_input == category.value.lower():
                    return category
            print("Invalid category name. Please try again.")

In [34]:
get_category()

Available Categories:
1. Food
2. Drinks
3. Bills
4. Utilities
5. Investment
6. Transportation
7. Shopping
8. Medical
9. Education
10. Taxes
11. Insurance
12. Salary

In [8]:
transactions = [{id: 1}, {id: 2}]
next_id = len(transactions) + 1 if len(transactions)==0 else transactions[len(transactions)-1][id]+1

In [9]:
next_id

3

In [10]:
from tracker.enum import Category

In [12]:
for category in Category:
    print(category.value)

food
drinks
bills
utilities
investment
transportation
shopping
medical
education
taxes
insurance
salary